<h1>Ingrese su correo electrónico</h1>
<div>
    <form id="passwordRestoreRequestForm">
        <label>Email</label>
        <input name="email">
        <input type="submit">
    </form>
</div>

<script src="/js/passwordRestoreRequest.js"></script>