<div>
    <h1>Escriba su nueva contraseña</h1>
    <form id="restoreForm">
        <label>Nuevo password</label>
        <input name="password">
        <input type="submit">
    </form>
</div>

<script src="/js/restorePassword.js"></script>