<h1>Login</h1>

<form id="loginForm">
    <label>Correo electrónico</label>
    <input name="email">
    <label>Contraseña</label>
    <input name="password">
    <input type="submit">
</form>
<div>
    <p>Oye, también puedes ingresar por:</p>
    <a href="/api/sessions/github"><button>Github</button></a>
</div>
<script src="/js/login.js"></script>