<div>
    <form id="artworkForm">

        <label>Título</label>
        <input name="title">
        <label>Autor</label>
        <input name="author">
        <label>Precio</label>
        <input name="price">
        <label>Copias</label>
        <input name="copies" >
        <label>Corriente</label>
        <input name="movement">
        <label>Fecha de creación</label>
        <input type="date">
        <label>Imagen</label>
        <input type="file" name="image" >
        <input type="submit">

    </form>
</div>
<script src="/js/artworkCreator.js"></script>