<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <label>Constraseña</label>
        <input name="password">
        <input type="submit">
    </form>
</div>
<div>
    <a href="passwordRestoreRequest">¿Olvidaste tu contraseña?</a>
</div>

<script src="/js/login.js"></script>